{% if data %}
	<div style="margin-bottom: 30px;">
		<table style="width: 100%; border-spacing: 0; border-collapse: collapse;">
			<thead>
				<tr>
					<th style="border: 1px solid #d1d8dd; width: 35%; text-align: left; padding: 5px;">{{ _("Item") }}</th>
					<th style="border: 1px solid #d1d8dd; width: 35%; text-align: left; padding: 5px;">{{ _("Warehouse") }}</th>
					<th style="border: 1px solid #d1d8dd; width: 10%; text-align: right; padding: 5px;">{{ _("Quantity") }}</th>
				</tr>
			</thead>
			<tbody>
				{% for row in data -%}
				<tr>
					<td style="border: 1px solid #d1d8dd; text-align: left; padding: 5px;">{{ row.parent }}</td>
					<td style="border: 1px solid #d1d8dd; text-align: right; padding: 5px;">{{ item.qty }}</td>
					<td style="border: 1px solid #d1d8dd; text-align: left; padding: 5px;">{{ item.rate }}</td>
				</tr>
				{%- endfor %}
			</tbody>
		</table>
	</div>
{%- endif %}